body {
    font-family: 'Open Sans', sans-serif;
}

.header-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 180px 0px 200px;

}

.header {
    background: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 55%;
}

.header-title {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
    text-transform: capitalize;
}

.text-primary {
    color: #FD6E0A;
}

.header-all ul {
    display: flex;
    align-items: center;
}

.header-all ul li {
    list-style: none;
    margin-right: 50px;
}

.header-all ul li a {
    text-decoration: none;
    color: #474747;
    text-transform: capitalize;
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 16px 35px;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banear-contan{
 
}

.banner-images {}

.banner-images img {
    width: 500px;
}

.banear-contan {}

.banear-contan h3 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0px;
}

.banear-contan h1 {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 0px;
}

.banear-contan p {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    width: 585px;
}

.banear-contan {}

.banear-contan {}

.banear-contan {}

.banear-contan {}